{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "globals": {
    "graphql": true
  },
  "settings": {
    "import/core-modules": ["prop-types", "react"]
  },
  "plugins": [
    "emotion"
  ],
  "rules": {
    "react/jsx-filename-extension": false,
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ]
  }
}
