{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["emotion", "prettier"],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "graphql": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "prettier/prettier": "error"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  }
}
